<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="onrobot_rg6_gazebo" params="prefix">
    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <robotNamespace>/onrobot_rg6</robotNamespace>
        <robotSimType>gazebo_ros2_control/DefaultRobotHWSim</robotSimType>
      </plugin> 
    </gazebo>

    <gazebo>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_left_inner_knuckle_joint">
        <joint>finger_joint</joint>
        <mimicJoint>left_inner_knuckle_joint</mimicJoint>
        <multiplier>1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <!-- <hasPID /> -->
      </plugin>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_right_inner_knuckle_joint">
        <joint>finger_joint</joint>
        <mimicJoint>right_inner_knuckle_joint</mimicJoint>
        <multiplier>1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <!-- <hasPID /> -->
      </plugin>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_left_inner_finger_joint">
        <joint>finger_joint</joint>
        <mimicJoint>left_inner_finger_joint</mimicJoint>
        <multiplier>-1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <!-- <hasPID /> -->
      </plugin>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_right_inner_finger_joint">
        <joint>finger_joint</joint>
        <mimicJoint>right_inner_finger_joint</mimicJoint>
        <multiplier>-1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <!-- <hasPID /> -->
      </plugin>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_right_outer_knuckle_joint">
        <joint>finger_joint</joint>
        <mimicJoint>right_outer_knuckle_joint</mimicJoint>
        <multiplier>1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <!-- <hasPID /> -->
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>